<header>
    <h1 class="pull-right">
         <small class="hide-medium"> Evelyne Groen </small>
    </h1>

    <nav class="ink-navigation horizontal black">
        <ul class="menu horizontal black rounded shadowed">
            <li data-urlexp="/^\/$/i"><a href="/">About</a></li>
            <li data-urlexp="/^\/introduction\//i">
                <a href="#" onclick="return(false);">Thesis <i class="fa fa-caret-down"></i></a>
                <ul class="submenu black">
                    <li><a href="/introduction/Introduction.html">Introduction</a></li>
                    <li><a href="/discussion/Discussion.html">Discussion</a></li>
                    <li><a href="/summary/Summary.html">Summary</a></li>
                </ul>
            <li data-urlexp="/^\/pages\//i">
                <a href="#" onclick="return(false);">Papers <i class="fa fa-caret-down"></i></a>
                <ul class="submenu black">
                    <li><a href="/papers/overview.html">Overview</a></li>
                </ul>
            </li>
            <li data-urlexp="/^\/Code\//i">
                <a href="#" onclick="return(false);"> Code for uncertainty and sensitivity analysis <i class="fa fa-caret-down"></i></a>
            <ul class="submenu black">
                <li><a href="/Code/Casestudy.html"> Case study </a></li>
                    <li><a href="/Code/Uncertaintypropagation.html"> Uncertainty propagation </a></li>
                    <li><a href="/Code/localsensitivity.html"> Local sensitivity analysis and screening analysis</a></li>
                    <li><a href="/Code/globalsensitivity.html">Global sensitivity analysis </a></li>
                </ul>
        </ul>
    </nav>

</header>
